<article typeof="schema:Article" class="article">
    <header class="article__header">
        <h1>{{ content.title }}</h1>
        <span class="article__header__author">Submitted by <a rel="schema:author" typeof="schema:Person" property="schema:name" href="#">Joe Blogs</a></span>
    </header>
    <div class="article__content">
        {{ content.img }}
        <div class="article__content__text">
            {{ content.text }}
        </div>
    </div>
</article>
