@import '~./../../lib.scss';

.layout_two_column {
  min-height: 300px;
  max-width: 1290px;
  margin: 0 auto 0 auto;

  &__right {
    display: block;
    padding: 10px;
  }

  &__left {
    width: 100%;
    float: left;
    position: relative;
    padding: 10px;
  }

  @media screen and (min-width: $width-md) {
    &__right {
      margin-left: 25%;
      margin-right: 0;
      width: 75%;
      float: left;
      position: relative;
    }

    &__left {
      width: 25%;
      margin-left: -100%;
    }
  }
}
