{#
variables:
- lightHeadText: boolean, use the light heading colour

examples:

   {% include '@components/header/header.html.twig' with {
    content: {
      lightHeadText: true
    }
  }%}
#}
<div class="header {{ content.lightHeadText ? 'header--alt' }}">
  <ul>
    <li><a href="#123">Menu</a></li>
    <li><a href="#456">Search</a></li>
  </ul>
</div>
