@import '~./../../lib.scss';

$header-xs: $iwm-xs;

.header {
  @include container();
  display: flex;
  overflow: hidden;

  ul {
    flex: 1 0 auto;
    display: flex;
    list-style: none;
    margin-left: -2rem;
  }
  li {
    flex: 0 1 auto;
    padding: 1rem 0;

    @media only screen and (min-width: $header-xs) {
      padding: 2rem 0;
    }

    a {
      color: $text-black;
      text-decoration: none;
      font-weight: normal;
      padding-left: 1.2rem;
      margin-left: 0.8rem;
    }
  }

  &--alt li a {
    color: $white;
  }
}
