<div class="article_list">
    {% if content.inner %}
        {{ content.inner }}

        <div class="article_list__footer">
            {{ content.footer }}
        </div>

    {% else %}
        <div class="article_list__empty">
            <p>No site content published to the homepage yet!</p>
            <p>Welcome to the Deeson example theme, a component driven frontend build based on the Drupal Bartik theme.</p>
        </div>
    {% endif %}
</div>
