@import '~./../../lib.scss';

.article_list {

  &__empty {
    padding: 10px;
  }

  &__footer {
    padding: 10px;

    a {
      display: inline-block;
      background: url(feed.svg) no-repeat;
      overflow: hidden;
      text-indent: -9999px;
      width: 16px;
      height: 16px;
    }

  }

}
