{#
variables:
- primary_menu: string - HTML describing the main menu. Should be wrapped in a div and contain an unordered list.
- secondary_menu: string - HTML describing the secondary menu. Should be wrapped in a div and contain an unordered list.

examples:

  {% include '@components/dbHeader/dbHeader.html.twig' with {content: {
    primary_menu: "<div><nav><ul>
                     <li><a href=\"/\" class=\"is-active\">Home</a></li>
                     <li><a href=\"/\">About</a></li>
                     <li><a href=\"/\">Contact</a></li>
                   </ul></nav></div>",
    secondary_menu: "<div><nav><ul>
                       <li><a href=\"/user/login\" class=\"is-active\">Log in</a></li>
                       <li><a href=\"/user/login\">Membership</a></li>
                     </ul></nav></div>",
  }} %}

#}
<header class="header" id="header" role="banner" aria-label="Site Header">
  <div class="header__inner">
    <div class="header__secondary_menu">
      {{ content.secondary_menu }}
    </div>

    <div class="header__logo">
      <a class="header__link" href="/">{{ "Component Driven Development"|t }}</a>
    </div>

    <div class="header__primary_menu">

      <div class="header__primary_menu__menu-toggle-target header__primary_menu__menu_toggle_target_show" id="header__primary_menu__menu_toggle_target_show"></div>
      <div class="header__primary_menu__menu-toggle-target" id="header__primary_menu__menu_toggle_target_hide"></div>
      <a class="menu-toggle header__primary_menu__menu_toggle" href="#header__primary_menu__menu_toggle_target_show">Show — Main navigation</a>
      <a class="menu-toggle header__primary_menu__menu_toggle header__primary_menu__menu_toggle_target_hide" href="#header__primary_menu__menu_toggle_target_hide">Hide — Main navigation</a>

      {{ content.primary_menu }}

    </div>
  </div>
</header>
