/**
 * Mixins and variables for SCSS.
 *
 * Feel free to include this anywhere. It should not change anything.
 */

$width-xs: 560px;
$width-md: 900px;
$width-lg: 1920px;

$white: #fffeff;
$black: #000000;
$blue: #1d84c3;
$darkBlue: #055a8e;
$grey: #68696b;
$lightgrey: #d3d7d9;
$charcoal: #292929;
